main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 50px;
  /* margin-bottom: 40px; */
  background-color: rgb(176, 254, 158);
  background-size: cover;
  /* height: 840px; */
  height: 90vh;
  justify-content: center;
  align-content: center;
  position: relative;
}
